<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <add key="MocaWebServiceUrl" value="http://192.168.128.161:8080/mocaWS/mocaWS?wsdl"/>
    <add key="SessionServiceUrl" value="http://192.168.128.161:8080/iPHSessionService/iPHSessionService?wsdl"/>    
  </appSettings>
</configuration>